black==24.10.0
git+https://github.com/duncaneddy/brahe.git@master
git+https://github.com/cmu-argus-1/custom_ultralytics.git@main
earthengine_api==1.4.5
pre-commit==4.1.0
matplotlib==3.10.0
numpy==1.26.4
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.1.0
pylint==3.3.3
pyproj==3.7.0
PyYAML==6.0.2
rasterio==1.4.3
Requests==2.32.3
retry==0.9.2
scipy==1.15.1
torch==2.5.1
torchvision==0.20.1
typeguard==4.4.1
tqdm==4.67.1
wandb==0.19.4
