DataPipeline/__pycache__
DataPipeline/Landsat_Data
DataPipeline/myenv
DataPipeline/commands.txt

Landsat_Data/
!Landsat_Data/.gitkeep

LD/datasets/
LD/runs/*
!LD/runs/*/weights/
!LD/runs/*/weights/*.pt
LD/wandb/

RCnet/datasets/train/
RCnet/datasets/val/
RCnet/datasets/test/
RCnet/results/loss_vs_epoch.png
RCnet/results/
!RCnet/results/.gitkeep
RCnet/chkpts/
RCnet/model/older_models

Salient_Region_Analysis/highlighted_map*



wandb/

/yolo*.pt
